<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<!-- FRAMEWORK BOOTSTRAP-->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>
<body>
	<nav th:fragment="topnav">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark mx-auto">

				<div class="navbar-nav mr-auto">
					<a href="/" class="nav-item nav-link active">Home</a>
					<div sec:authorize="hasRole('ROLE_ADMIN')">
						<a href="/admin" class="nav-item nav-link">My Profile</a>
					</div>
					<div sec:authorize="hasRole('ROLE_USER')">
						<a href="/user" class="nav-item nav-link">My Profile</a>
					</div>
					<div sec:authorize="hasRole('ROLE_PROVIDER')">
						<a href="/provider" class="nav-item nav-link">My Profile</a>
					</div>
				</div>
				
				<div class="navbar-nav mx-auto">
				<a href="/" class="navbar-brand">DEAP Travelling</a>
				</div>
				
				<div class="navbar-nav ml-auto" sec:authorize="isAnonymous()">
					<a href="/login" class="nav-item nav-link btn btn-outline-primary"> Login </a>
				</div>
				<div class="navbar-nav ml-auto" sec:authorize="isAuthenticated()">
					<div sec:authorize="hasRole('ROLE_ADMIN')">
						<a href="/admin" class="nav-item nav-link ">Hello
							[[${#httpServletRequest.remoteUser}]]</a>
					</div>
					<div sec:authorize="hasRole('ROLE_USER')">
						<a href="/user" class="nav-item nav-link ">Hello
							[[${#httpServletRequest.remoteUser}]]</a>
					</div>
					<div sec:authorize="hasRole('ROLE_PROVIDER')">
						<a href="/provider" class="nav-item nav-link ">Hello
							[[${#httpServletRequest.remoteUser}]]</a>
					</div>
					<a href="/logout" class="nav-item nav-link btn btn-outline-danger"> Logout </a>
				</div>
		</nav>
	</nav>
</body>
</html>