<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Destinations</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--JQUERY-->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<!-- FRAMEWORK BOOTSTRAP-->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- Fontawesome-->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

<!-- css-->
<link rel="stylesheet" type="text/css"
	href="static/css/showDestinations.css"
	th:href="@{/css/showDestinations.css}">

<link rel="stylesheet" type="text/css" href="static/css/footer.css"
	th:href="@{/css/footer.css}">


</head>
<body>
	<nav th:insert="fragments/topnav :: topnav"></nav>

	<!-- normal page -->
	<div class="card-body mainContainerFlex">
		<div class="mainContainer">
			<table class="table table-striped table-responsive-md">
				<div th:switch="${destinations.size()}">
					<div class="col-md-12">
						<div th:case="0">
							<p class="display-4">
								Sorry but we could not found the destinations you were searching
								for :(<br> Click <a th:href="@{/user/findDestination}"
									id="backToSearch">HERE</a> to get back to the search
							</p>
						</div>
						<div th:case="*">
							<thead id="sorting">
								<tr>
									<th style="width: 16.66%" id="sortFieldcontinent"
										class="sortable">Continent</th>
									<th style="width: 16.66%" id="sortFieldcountry"
										class="sortable">Country</th>
									<th style="width: 16.66%" id="sortFieldcity" class="sortable">City</th>
									<th style="width: 16.66%">Current Temperature</th>
									<th style="width: 16.66%">Weather</th>
									<th style="width: 16.66%"></th>
								</tr>
							</thead>
							<p class="display-4">Your search results</p>
							<!-- Search again -->

							<div class="row goBackContainer">
								<div class="col-md-4"></div>
								<a href="/user/findDestination"
									class="btn col-md-4 backToSearch">Go Back!</a>
							</div>
							<div class="card-body mainContainerFlex"
								th:each="destination,iter : ${destinations}">
								<div class="mainContainer">
									<table class="table table-striped table-responsive-md">
										<thead>
											<tr>
												<th style="width: 16.66%">Continent</th>
												<th style="width: 16.66%">Country</th>
												<th style="width: 16.66%">City</th>
												<th style="width: 16.66%">Current Temperature</th>
												<th style="width: 16.66%">Weather</th>
												<th style="width: 16.66%"></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td th:text="${destination.continent}"></td>
												<td th:text="${destination.country}"></td>
												<td th:text="${destination.city}"></td>
												<td th:text="${weather.get(iter.index)} + &#8451"></td>
												<td><img width=70 height=70
													th:src="'../'+@{${icon.get(iter.index)}}" /></td>
												<td><a
													th:href="@{/user/showAvailableHotels/{destinationId}
														/{personCount}/{dateFrom}/{vacationLength}
														(destinationId=${destination.destinationId},
														personCount=${pCount},
														dateFrom=${dateF},
														vacationLength=${vacationL})}"
													class="btn btn-primary"> <i class="fas fa-hotel fa-fw"
														style="color: #000000;"></i>Available Hotels
												</a></td>
											</tr>
										</tbody>
									</table>


									<p class="expandButtons">
										<a class="btn btn-primary" data-toggle="collapse"
											th:href="'#collapseWeather'+${iter.index}" role="button"
											aria-expanded="false"
											th:aria-controls="'collapseWeather'+${iter.index}">
											Weather Information</a> <a class="btn btn-primary"
											data-toggle="collapse"
											th:href="'#collapseNews'+${iter.index}" role="button"
											aria-expanded="false"
											th:aria-controls="'collapseNews'+${iter.index}"> News
											Information</a>

									</p>

									<div class="collapse" th:id="'collapseWeather'+${iter.index}">
										<div class="card card-body">
											<div class="card-deck">
												<div class="card">
													<div class="header">
														<h1>[[${destination.city}]]</h1>
														<img width=100 height=100
															th:src="'../'+@{${icon.get(iter.index)}}" />
														<h1>[[${weather.get(iter.index)}]]&#8451</h1>
													</div>

													<article class="forecast">
														<div th:each="i: ${#numbers.sequence(0,4)}">
															<article class="day-forecast">

																<h2>[[${dateF}]]</h2>
																<img width=70 height=70
																	th:src="'../'+@{${icon.get(iter.index)}}" />
																<p>[[${weather.get(iter.index)}]]&#8451</p>
																<p>[[${weather.get(iter.index)}]]&#8451</p>

															</article>
														</div>
													</article>
												</div>

											</div>
										</div>
									</div>
									<div class="collapse" th:id="'collapseNews'+${iter.index}">
										<div class="card card-body">
											<div class="card-deck">
												<div class="card">
													<title>Latest News</title>
													<div class="card-body">
														<h5 class="card-title">Latest News - Category: Health</h5>
														<p class="card-text">Title:
															[[${newsHealth.get(iter.index).getArticles().get(0).getTitle()}]]</p>
														<p class="card-text">Description:
															[[${newsHealth.get(iter.index).getArticles().get(0).getDescription()}]]</p>
														<p class="card-text">Content:
															[[${newsHealth.get(iter.index).getArticles().get(0).getContent()}]]</p>
														<p class="card-text">Published At:
															[[${newsHealth.get(iter.index).getArticles().get(0).getPublishedAt()}]]</p>
														<p class="card-text">Source
															[[${newsHealth.get(iter.index).getArticles().get(0).getSource().name}]]</p>
														<p class="card-text">
															<a
																th:href="${newsHealth.get(iter.index).getArticles().get(0).getUrlToImage()}">Image</a>
														</p>
														<p class="card-text">
															<small class="text-muted">Author:
																[[${newsHealth.get(iter.index).getArticles().get(0).getAuthor()}]],
															</small> <small class="text-muted"><a
																th:href="${newsHealth.get(iter.index).getArticles().get(0).getUrl()}">Source</a></small>
															<small class="text-muted">Last updated 1 second
																ago</small>
														</p>
													</div>
													<div class="card-body">
														<h5 class="card-title">Latest News - Category:
															Entertainment</h5>
														<p class="card-text">Title:
															[[${newsEntertainment.get(iter.index).getArticles().get(0).getTitle()}]]</p>
														<p class="card-text">Description:
															[[${newsEntertainment.get(iter.index).getArticles().get(0).getDescription()}]]</p>
														<p class="card-text">Content:
															[[${newsEntertainment.get(iter.index).getArticles().get(0).getContent()}]]</p>
														<p class="card-text">Published At:
															[[${newsEntertainment.get(iter.index).getArticles().get(0).getPublishedAt()}]]</p>
														<p class="card-text">Source
															[[${newsEntertainment.get(iter.index).getArticles().get(0).getSource().name}]]</p>
														<p class="card-text">
															<small class="text-muted">Author:
																[[${newsEntertainment.get(iter.index).getArticles().get(0).getAuthor()}]],
															</small> <small class="text-muted"><a
																th:href="${newsEntertainment.get(iter.index).getArticles().get(0).getUrl()}">Source</a></small>
															<small class="text-muted">Last updated 1 second
																ago</small>
														</p>
													</div>
													<div class="card-body">
														<h5 class="card-title">Latest News - Category:
															General</h5>
														<p class="card-text">Title:
															[[${newsGeneral.get(iter.index).getArticles().get(0).getTitle()}]]</p>
														<p class="card-text">Description:
															[[${newsGeneral.get(iter.index).getArticles().get(0).getDescription()}]]</p>
														<p class="card-text">Content:
															[[${newsGeneral.get(iter.index).getArticles().get(0).getContent()}]]</p>
														<p class="card-text">Published At:
															[[${newsGeneral.get(iter.index).getArticles().get(0).getPublishedAt()}]]</p>
														<p class="card-text">Source
															[[${newsGeneral.get(iter.index).getArticles().get(0).getSource().name}]]</p>
														<p class="card-text">
															<small class="text-muted">Author:
																[[${newsGeneral.get(iter.index).getArticles().get(0).getAuthor()}]],
															</small> <small class="text-muted"><a
																th:href="${newsGeneral.get(iter.index).getArticles().get(0).getUrl()}">Source</a></small>
															<small class="text-muted">Last updated 1 second
																ago</small>
														</p>
													</div>
												</div>

											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</table>
		</div>
	</div>
	<form id="fakeSearchForm" action="#" method="post"
		th:action="@{/user/showDestinations}" th:object="${selection}"
		class="findForm">
		<input type="hidden" id="continentplaceu" name="continent"
			th:value="${continent}"> <input type="hidden"
			id="countryplaceu" name="country" th:value="${country}"> <input
			type="hidden" id="cityplaceu" name="city" th:value="${city}">

		<input type="hidden" id="sortDir" name="sortDir" th:value="${sortDir}">
		<input type="hidden" id="sortField" name="sortField"
			th:value="${sortField}"> <input type="hidden"
			id="personCount" name="personCount" th:value="${pCount}"> <input
			type="hidden" id="dateFrom" name="dateFrom" th:value="${dateF}">
		<input type="hidden" id="vacationLength" name="vacationLength"
			th:value="${vacationL}">

	</form>
	<script>
		var form = document.getElementById("fakeSearchForm");

		var sortField = document.getElementById("sortField");
		var sortDir = document.getElementById("sortDir");
		var searchString = sortField.value;

		console.log("sortField" + searchString);
		console.log("gerade wirt so sortiert " + sortDir.value)

		document.getElementById("sortField" + searchString).classList
				.add("highlight");

		document.getElementById("sortFieldcontinent").addEventListener("click",
				function() {
					checkSortDir("continent");
					sortField.value = 'continent';
					form.submit();
				});
		document.getElementById("sortFieldcountry").addEventListener("click",
				function() {
					checkSortDir("country");
					sortField.value = 'country';
					form.submit();
				});
		document.getElementById("sortFieldcity").addEventListener("click",
				function() {
					checkSortDir("city");
					sortField.value = 'city';
					form.submit();
				});

		function checkSortDir(field) {
			if (searchString === field) {
				if (sortDir.value === "asc") {
					sortDir.value = "desc";
				} else {
					sortDir.value = "asc";
				}
			}
		}
	</script>
	<footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>