<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Forgot Password</title>

<!--JQUERY-->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<!-- FRAMEWORK BOOTSTRAP-->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- Fontawesome-->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

<!-- css-->
<link rel="stylesheet" type="text/css" href="static/css/login.css"
	th:href="@{/css/login.css}">

</head>
<body>
	<nav th:insert="fragments/topnav :: topnav"></nav>

	<div class="modal-dialog text-center">
		<div class="col-sm-8 main-section">
			<div class="modal-content">
				<form class="col-12" id="resetForm" th:action="@{/forgot-password}"
					method="post">

					<h3 class="card-header text-white text-center py-4">
						<strong>Request a password reset</strong>
					</h3>
					
					<div class="col-12 text-white">
					<p>Input the e-mail of your account</p>
					</div>

					<div class="form-group" id="search-group">
						<input type="text" class="form-control" placeholder="E-mail"
							id="email" size="5" name="email" />
					</div>

					<button type="submit" class="btn btn-warning">
						<i class="fas fa-sign-in-alt"></i> Request A Reset
					</button>
				</form>
				<div class="col-12 forgot">
					<a th:href="@{/login}">Already registered? Login!</a>
				</div>
				<div class="col-12 forgot">
					<a th:href="@{/register}">No account? Register now!</a>
				</div>
				<div th:if="${error}" th:text="${errorMessage}"
					class="alert alert-warning"></div>
				<div th:if="${success}" th:text="${successMessage}"
					class="alert alert-success"></div>
			</div>
		</div>
	</div>

	<script>
		// 	var selectedCount = document.getElementById('vacationLength').value;
		// 	if (selectedCount < 1) {
		// 		document.getElementById('vacationLength').value = 1;
		// 		//alert the user that the person count is invalid
		// 		Swal.fire({
		// 			icon : 'error',
		// 			title : 'Invalid vacation length',
		// 			text : 'Something went wrong!',
		// 			footer : "<a href>Please select a minimum of 1 night(s)</a>"
		// 		})
		// 	}
	</script>
</body>
</html>