<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Contact Us</title>
    <meta charset="utf-8">
    <!-- FRAMEWORK BOOTSTRAP-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <!-- css-->
    <link rel="stylesheet" type="text/css" href="static/css/staticPages.css" th:href="@{/css/staticPages.css}">
    
    <link rel = "stylesheet" type = "text/css" href = "static/css/footer.css" 
	th:href="@{/css/footer.css}">
</head>
<body>
	<nav th:insert="./fragments/topnav :: topnav"></nav>
	<main>
    <p class="display-4" id = "contactUs">Contact Us
        <svg id = "icon" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-fill" fill="blacks" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"/>
          </svg>
    </p>
    <div id = "sidePage">
        <p id = "infoPage"> <strong>E-Mail:</strong> <a href="mailto:info@deap.com">info@deap.com</a> <br>
            <strong>Number:</strong> 0231/ 1384525<br>
            <strong>Address:</strong>
            Reichestr. 67<br>
            45876 Dortmund<br>
        </p>
    </div>
    </main>
    <footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>