<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--JQUERY-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
<!-- css-->
<link rel="stylesheet" type="text/css" href="static/css/profile.css" th:href="@{/css/profile.css}">
<title>Manage Bookings</title>
</head>
<body>	
	<!-- sidenav -->
	<header th:insert="fragments/sidenav :: sidenav"></header>

	<!-- Page content holder -->
	<div class="page-content p-5" id="content">
	
	<!-- Toggle button -->
		<button id="sidebarCollapse" type="button"
			class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4">
			<i class="fa fa-bars mr-2"></i><small
				class="text-uppercase font-weight-bold">Toggle</small>
		</button>

	<div class="container my-2">
		<p class="display-4">Manage Bookings</p>
        <div th:switch="${bookings}" class="container my-5">
        <p class="my-5">
                <a href="/admin/manageBookings/edit" class="btn btn-primary">
                <i class="fas fa-user-plus ml-2"> Create Booking </i></a>
            </p>
            <div class="col-md-10">
		<div th:case="*">
			<table class="table table-striped table-responsive-md manage-table">
				<thead>
					<tr>
						<th>Booking ID</th>
						<th>Destination Country</th>
						<th>Hotel</th>
						<th>Date From</th>
						<th>Date To</th>
					</tr>
				</thead>
				<tbody>

					<tr th:each="booking : ${bookings}" class="manage-table-row">
						<td th:text="${booking.bookingId}"></td>
						<td th:text="${booking.destination.country}"></td>
						<td th:text="${booking.hotel.name}"></td>
						<td th:text="${booking.dateFrom}"></td>
						<td th:text="${booking.dateTo}"></td>
<!-- 						hier muss lange der liste activities gepruft werden bevor man auf dem index zugreift! -->
<!-- 						<td th:text="${bookings.get().getActivities().get(0).getName()}"></td> -->
					</tr>

				</tbody>
			</table>
		</div>
        </div>
    </div>
    </div>
    </div>
<script type="text/javascript" src="static/js/sidebar.js" th:src="@{/js/sidebar.js}"></script>
</body>
</html>