<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>My Activities</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--JQUERY-->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- FRAMEWORK BOOTSTRAP-->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- Fontawesome-->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/profile.css" th:href="@{/css/profile.css}">
<link rel="stylesheet" type="text/css" href="static/css/provider.css" th:href="@{/css/provider.css}">

</head>
<body>
	<!-- sidenav -->
	<header th:insert="fragments/sidenav :: sidenav"></header>

	<!-- Page content holder -->
	<div class="page-content p-5" id="content">
		<!-- Toggle button -->
		<button id="sidebarCollapse" type="button"
			class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4">
			<i class="fa fa-bars mr-2"></i><small
				class="text-uppercase font-weight-bold">Toggle</small>
		</button>



		<div class="card-body">


			<div th:switch="${activities.size()}">
				<div class="col-md-10">
					<div th:case="0">
						<h1>No Activities suggested by you found :(( , why don't you suggest some?</h1>
					</div>

					<div th:case="*">
						<p class="display-4">My Activities</p>
						<div class="card-body" th:each="activity : ${activities}">
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th style="width: 16.66%">Activity ID</th>
										<th style="width: 16.66%">Name</th>
										<th style="width: 16.66%">Price</th>
										<th style="width: 16.66%">Difficulty</th>
										<th style="width: 16.66%">Season</th>
										<th style="width: 16.66%">Enabled</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td th:class=${activity.enabled}
											th:text="${activity.activityId}"></td>
										<td th:class=${activity.enabled}
											th:text="${activity.name}"></td>
										<td th:class=${activity.enabled}
											th:text="${activity.price}"></td>
											<td th:class=${activity.enabled}
											th:text="${activity.difficulty}"></td>
										<td th:class=${activity.enabled}
											th:text="${activity.season.name}"></td>
										<td th:class=${activity.enabled}
											th:text="${activity.enabled}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>


	<script type="text/javascript" src="static/js/sidebar.js"
		th:src="@{/js/sidebar.js}"></script>
</body>
</html>